@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body {background-color: #fde8db;}
h1 {font-size: 16px; font-weight: normal; font-family: Helvetica;
	margin-top: 60px;}
h2 {font-size: 20px; font-family: 'Quicksand', sans-serif; color: #f37522; font-weight: 500;}
h3 {font-size: 18px; font-family: 'Quicksand', sans-serif; color: #f37522; font-weight: 400;}
p {font-family: 'Quicksand', sans-serif;}

a {padding: 5px; font-family: 'Quicksand', sans-serif;  color: #f37522;}
a:link {text-decoration: none; color: #f37522;}
a:visited {text-decoration: none; color: #f37522;}
a:hover {text-decoration: underline; color: #f37522; }
a:active {color: #f8a36c;}
